<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li class=<%home%>><a href="/home">home</a></li>
      <li class=<%alarms%>><a href="/alarms">alarms</a></li>
      <li class=<%friends%>><a href="/friends">friends</a></li>
    </ul>
  </div>
</nav>