
a{
	cursor: pointer;
}

.button{
	/* Rectangle 4: */
	background: #EAC11E;
	border-radius: 8px;
	width: 225px;
	height: 68px;
	line-height: 68px;
	display: inline-block;

	font-family: 'Advent Pro', sans-serif;
	font-size: 2em;
	color: black;
	text-align: center;
	cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #B79118;
}

.medium{
	width: 160px;
	height: 50px;
	line-height: 50px;
	font-size: 1.6em;
}

.light{
	background: #FCF9E0;
	width: 160px;
	height: 50px;
	line-height: 50px;
	font-size: 1.6em;
	color: #275B86;
}

.light:focus,
.light:hover {
  background-color: #DBD4AD;
}

html {
	min-height: 100%;
	position: relative;
	height: 100%;
}

main{
	top: 0; left: 0; bottom: 0;
	position: relative;
}

body{
	min-height: 100%;
}

.title{
	font-family: 'Advent Pro', sans-serif;
	color: #FDFAE1;
}

nav{
	height: 50px;
	background: #FDFAE1;
}

nav .nav-wrapper{
	height: inherit;
	width: max-content;
	margin: auto;
}

nav li{
	margin: 0 40px 0 40px;
	height: 50px;
}

nav li>a{
	color: #BD812B;
	font-family: 'Advent Pro', sans-serif;
	font-size: 1.5em;
  height: 50px;
  line-height: 50px;
}

.title{
	font-weight: bolder;
}

.title a{
	color: inherit;
}

.title a:hover{
	color: #E9F9FF;
}

main .top {
	color: #FDFAE1;
	text-align: center;
	font-size: 1.8em;
	padding: 30px 100px 0 100px;
	width: 100%; height: 40%;
	border-radius: 3px;
	position: relative;
	background: #275B86;
	border: 1px solid #979797;
}

.bottom{
	margin-top: 70px;
	padding-bottom: 70px;
	margin-left: 20%;
	margin-right: 20%;
}

.bottom p{
	font-size: 22px;
	text-align: center;
}

.bottom h2{
	font-family: 'Advent Pro', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #000000;
}

.top .upper-right{
  font-size: 12px;
  position: absolute;
  right: 3%; top: 7%;
  color: white;
  text-align: right;
}

.top .upper-right p{
	margin: 0;
}

.top .upper-right a{
	color: #E9F9FF;
	text-decoration: underline;
}

.login .validate {
	font-size: 1.8em !important;
}

.register .validate{
	font-size: 1.8em !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
		body .desc {
		    font-size: 120%;
		    font-weight: 400;
		    text-align: center;
		}

		.button{
	    width: 60%;
	    height: 50px;
	    line-height: 50px;
	    margin: 0;
		}

		.button-wrapper .button {
		    margin: 10px !important;
		}

		.button-wrapper .col {
			text-align: center;
		}
}

/*
footer{
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer .social-media .small-logo{
	text-align: center;
	float: left;
	width: 50px; height: 50px;
	padding: 0 5px 0 5px;
}

footer .social-media{
	padding: 0 50px 0 50px;
	text-align: center;
	width: 100%; height: 80px;
}

footer p{
	color: #DBC06A;
	font-size: small;
}
*/

/**{border: 2px solid red;}*/